div {
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
}
.div1 {
  border-color: pink;
}
.div2 {
  border-color: lightblue;
}
.outerdiv {
  border-color: lavender;
}
.divhidden {
  border-style: none;
}
img {
  max-width: 150px;
}
